.timing {
    display: flex;
    border-radius: 5%;
    text-align: center;
    background-color: #F7F7F6;
    justify-content: center;
    margin-top: 5%;
    padding-top: 5%;
    margin: auto;
    max-width: 880px;
}

@media screen and (max-width:900px) {
    .svg_saveTheDate {
        margin: 0;
    }
}

.description_gift {
    font-family: 'GoodVibesPro';
    font-size: 38px;
    margin: 0;
}

.description_gift_p {
    font-family: 'GoodVibesPro';
    font-size: 28px;
    margin: 0;
}

.number_gift {
    font-family: 'AngstVF';
    font-size: 22px;
}


.svg_timing {
    margin: auto;
    max-width: 100px;
    animation: zoom-in-zoom-out 5s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.svg_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}