.header_contact {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    max-width: 100%;
    border: none;
    font-size: 16px;
    border: 2px white solid;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.title_footer {
    font-size: 16px;
}

.header_contact:hover {
    opacity: 0.5;
}

.logo_telegram {
    max-width: 25px;
}