.month {
    font-family: 'Montserrat-Regular';
    font-size: 37px;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.month_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description_calen {
    font-family: 'Pushkin';
    font-size: 20px;
}

.number_calen {
    font-family: 'GoodVibesPro';
    font-size: 20px;
}

.first_block {
    display: flex;
    margin-top: 5%;
    margin: auto;
    max-width: 100%;
    font-size: 12px;
}


.days-of-week-container,
.calendar-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 55px);
}

.calendar-container div:first-child {
    grid-column: 1;
}

.heart {
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 212px;
    margin-top: -20px;
    width: 70px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
    color: #F5AE9B;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

