.header {
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  background-color: white;
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  max-width: 20%;
}

@media screen and (max-width:900px) {
  .header {
    max-width: 80%;
  }
}

.header_svg-div {
  display: flex;
  align-items: center;
}

.dode {
  animation: blinker 1s linear infinite;
  margin: auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}